<!DOCTYPE html>

<html>
    <head>
        <title>五位火枪手</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="关键字" />
        <meta name="description" content="本页描述或关键字描述" />
    </head>
    
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
                <div class="row">
                    <div class="hero-text">
                        <h1>Welcome to User Change Password!</h1>

                        {{if .ErrorMessage}}
                            <h2>Error Message : {{.ErrorMessage}}</h2>
                        {{end}}

                        <form id="user" action ='{{urlfor "User.ChangePasswordPost"}}'>
                            {{ .xsrfdata }}
                            old : <input name="oldpassword" type="password" />
                            new : <input name="newpassword" type="password" />
                            confirm : <input name="confirmpassword" type="text" />
                        </form>

                    </div>
                </div>
            </div>
        </header>
    </body>
</html>