<!DOCTYPE html>

<html>
    <head>
        <title>个人空间</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="keywords" content="关键字" />
		<meta name="description" content="本页描述或关键字描述" />
    </head>
    
    <body>
        <header class="hero-unit" style="background-color:#A9F16C">
            <div class="container">
            	<div class="row">
              		<div class="hero-text">
                		<h1>Welcome to User Signup!</h1>

                        {{if .ErrorMessage}}
                            <h2>Error Message : {{.ErrorMessage}}</h2>
                        {{else}}
                            <form id="user" action ='{{urlfor "User.SignupPost"}}'>
                                {{ .xsrfdata }}
                                username : <input name="username" type="text" />
                                password : <input name="password" type="password" />
                                email : <input name="email" type="text" />
                                submit : <input type="submit" value="提交" />
                            </form>
                        {{end}}               
             		</div>
            	</div>
            </div>
        </header>
    </body>
</html>